{% extends "base.html" %}
{% block content %}
<h2>Результаты прогноза</h2>
<p>Рекомендуемый объём закупки для первого периода: <strong>{{ recommended_order | round(2) }}</strong></p>
<div>
    {{ forecast_table|safe }}
</div>
<div id="forecast_plot"></div>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script>
    var plotData = {{ graph_json | safe }};
    Plotly.newPlot('forecast_plot', plotData.data, plotData.layout);
</script>
<a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Вернуться на главную</a>
{% endblock %}