{% extends "layout.html" %}

{% block title %}Жеке кабинет{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    <h3>Пайдаланушы профилі</h3>
    <ul class="list-group">
      <li class="list-group-item"><strong>ID:</strong> {{ user.id }}</li>
      <li class="list-group-item"><strong>Пайдаланушының аты:</strong> {{ user.username }}</li>
      <li class="list-group-item"><strong>Email:</strong> {{ user.email }}</li>
    </ul>
  </div>
  <div class="col-md-8">
    <h3>Қосымша ақпарат</h3>
    <p>Мұнда сіз соңғы әрекеттер туралы деректерді, статистиканы және пайдаланушы туралы басқа да маңызды ақпаратты орналастыра аласыз.</p>
  </div>
</div>
{% endblock %}
