{% extends 'layout.html %}

{% block title %} Список пользвателей {% endblock %}
<body>
    <h2>Пользователи системы</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Имя пользователя</th>
                <th>Электронная почта</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <p><a href="{{ url_for('auth.logout') }}">Выход</a></p>
</body>
</html>
